body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: #026aa7;
  color: white;
  font-size: 16px;
  font-weight: 300;
  height: 45px;
  overflow: hidden;
  line-height: 45px;
  margin-bottom: 30px;
  text-align: center;
  top:0;
  width: 100%;
  z-index: 10;
}
header span:nth-child(2) {
  display: block;
  font-size: 12px;
  margin: 0 0 10px;
}
a:hover, a:visited, a:focus {
  outline: none;
  text-decoration: none;
}
.addPlaylist {
  margin-bottom: 60px;
  height: 40px;
  width: 100%;
}
.addPlaylist > span {
  border: 1px solid #026aa7;
  border-radius: 8px;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}
.addTagBtn {
  border: 1px solid black;
  margin: 10px 0 0 10px;
  height: 32px;
  width: 100px; 
}
.content-wrapper {
  margin: 0 auto;
  min-width: 768px;
  height: 100%;
  width: 80%;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.container a{
  float: left;
  width: 50%;
}
.container a span {
  display: block;
  margin: 0 0 10px;
}
.detailHeader {
  height: 32px;
  line-height: 32px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.detailHeader p {
  line-height: 32px;
}
.goToPlaylist {
  float: right;
  margin: -10px 10px 0 0;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  font-size: 19px;
  font-weight: 300;
}
.header p:first-child {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 10px 0px;
}
.header p:nth-child(2){
  margin: -2px 10px 0;
  font-size: 12px;
}
.hidden {
  display: none;
}
.listHeader {
  height: 30px;
  list-style: none;
  position: absolute;
  top: 350px;
  width: 100%;
}
.listHeader li {
  display: inline-block;
  text-align: center;

}
.listHeader li:first-child, .listHeader li:nth-child(2), .listHeader li:nth-child(3)  {
  width: 25%;
}
.listHeader li:nth-child(4), .listHeader li:last-child  {
  width: 10%;

}
.listHeader li:nth-child(4) {
  margin-right: 10px;
}
.modal-playlist li {
  height: 50px;
  margin-left: -34px;
  width: 100%;
}
.newPlaylist {
  font-size: 20px;
  font-weight: normal;
  margin: 0 auto;
  width: 50%
}
#playlist, .modal-playlist{
  list-style: none;
  margin: 20px auto;
}
#playlist li , .playlist li{
  border: 1px solid black;
  height: 150px;
  margin: 0 0 20px -34px;
  width: 100%;
}
#playlist li span , .playlist li span{
  display: block;
  margin-left: 10px;
}
#playlist li span:first-child {
  margin-top: 10px;
}
#playlist li span.addTag  {
  display: inline-block;
  margin-top: 5px;
}
#playlist li span.addSong {
  float: right;
}
#playlist li input.tags {
  display: inline-block;
  height: 32px;
  margin: 10px 0 0 10px;
  width: 80px;
}
#playlist li span.saveTag {
  background-color: #2ebd59;
  color: white;
  display: inline-block;
  height: 32px;
  line-height: 17px;
}
.playlistContainer {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  
}
.playlistContainer h1 {
  text-align: center;
}
#playlistDetail {
  height: 100%;
  width: 100%;
}
#playlistDetail h1 , #playlistDetail h3 {
  text-align: center;
}
#playlistSongList {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
#playlistSongList li {
  border: 1px solid gray;
  height: 80px;
  line-height: 100px;
  list-style: none;
  margin-bottom: 10px;
}
#playlistSongList li img {
  margin: -34px 10px 10px 10px;
  position: relative;
   
}
#playlistSongList li:nth-child(even) {
  border-bottom: 1px solid #B2B2B2;
  border-top: 1px solid #B2B2B2;  
}
#playlistSongList li p , #playlistSongList li span{
  display: inline-block;
  padding: 10px;
}
#playlistSongList li span.trash {
  float: right;
}
#results {
  height: auto;
  list-style: none;
  margin: 0 auto;
  padding-right: 20px;
  width: 90%; 
}
#results span.timeSpan {
  margin-left: -4px;
}
#results span.coolSpan {
  margin-right: 3px;
}
#results p , #results span {
  display: inline-block;
  padding: 5px;
  line-height: 4;
  margin: 0 7px 0 7px;
  text-align: center;
}
#results span.addSong {
  float: right;
}
#results li img  {
  position: relative;
  margin: 0px 10px 10px 10px ;
}
.search.btn.btn-primary {
  background-color: #2ebd59;
  border-radius: 500px;
  border-width: 0;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1.2px;
  line-height: 1.5;
  min-width: 130px;
  padding: 12px 47px 8px;
  text-transform: uppercase;
  white-space: normal;
}
.searchContainer {
  margin: 0 auto;
  width: 60%;
}
#search-form, .form-control {
  margin-bottom: 20px;
}
.searchResults {
  margin: 40px auto;
  position: relative;
  width: 100%;
}
.searchResults li {
  border: 1px solid gray;
  height: 80px;
  list-style: none;
  line-height: 80px;
  margin-bottom: 10px;
  padding: 3px 0;  
}
.songList {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.song-popularity{
  display: inline-block;
  position: relative;
  width: 9%;
}
.submitPlaylist {
  display: block;
  margin: 10px auto;
  width: 20%;
}
#tagList {
  height: 20px;
  margin: -10px auto;
  list-style: none;
  width: 100%;
  
}
#tagList li {
  border: none;
  display: inline-block;
  height: 20px;
  list-style: none;
  width: 100px; 
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}
